#content {
    /* width: 100vh; */
    text-align: center;
    display: block;
}

#content a {
    cursor: default;
}

#reasonstolive {
    display: inline-block;
    width: 300px;
    height: 300px;
    padding: 5px;
}

#reasonstolive img {
    width: 300px;
    height: 400px;
}

#drawing {
    display: inline-block;
    width: 300px;
    height: 300px;
    padding: 5px;
}

#drawing img {
    width: 300px;
    height: 300px;
}

