#content {
    height: 80vh;
    text-align: center;
}

a {
    cursor: default;
}

#reasonstolive {
    display: inline-block;
    width: 300px;
    height: 300px;
    padding: 5px;
}

#reasonstolive img {
    width: 50vw;
    height: 28vh;
}

#reasonstolive img:hover {
    opacity: 0.9;
}

#drawing {
    display: inline-block;
    width: 300px;
    height: 300px;
    padding: 5px;
}

#drawing img {
    width: 38vw;
    height: 25vh;
}

#drawing img:hover {
    opacity: 0.9;
}

footer {
    text-align: center;
    color: rgb(69,69,69);
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 20px;
    margin: 0px auto;
    padding-top: 10px;
}

footer img {
    width: 45px;
    height: 45px;
    padding: 5px;
}

footer img:hover {
    width: 50px;
    height: 50px;
}